<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Number</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempCenter of centers">

            {{ tempCenter.name}}

            <td>
                {{ tempCenter.streetAddress}}
            </td>

            <td>
                {{ tempCenter.city}}
            </td>

            <td>
                {{tempCenter.state}}
            </td>

            <td>
                {{ tempCenter.zipcode}}
            </td>

            <td>
                {{tempCenter.phoneNumber}}
            </td>

        </tr>


</table>