<<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempCenter of users">

            {{ tempCenter.firstName}}

            <td>
                {{ tempCenter.lastName}}
            </td>

            <td>
                {{ tempCenter.email}}
            </td>

            <td>
                {{tempCenter.role}}
            </td>


        </tr>


</table>
