      
    <li class="nav-item">
        <a class="nav-link" routerLink="register"> Create new Employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="delete"> Delete Employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="employees"> Get Employee List</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="center">List Appointment by Center </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="create/manager">Create Manager for Different Branch </a>
      </li>